/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Fade-In and Fade-Out */
body {
    opacity: 0; /* Start with invisible body */
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in/out effect */
}

body.loaded {
    opacity: 1; /* Fully visible when the 'loaded' class is applied */
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #90db8c;
    background-color: #171e2d;
    margin: 0;
}

header {
    background: linear-gradient(90deg, #499f4d 0%, #90db8c 100%);
    color: #171e2d;
    padding: 1.5rem 0;
    text-align: center;
}

header h1 {
    margin: 0.5rem 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background: #171e2d;
    padding: 0.5rem 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #90db8c;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f7dc6f;
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

h2 {
    color: #90db8c;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

/* Contact Form */
form {
    background: #171e2d;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #90db8c;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background: #171e2d;
    color: #90db8c;
}

form button {
    background: #90db8c;
    color: #171e2d;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #54a04b;
}

/* About Section */
.about-container {
    display: flex;
    align-items: center;
}

.about-me-photo {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.about-container p {
    flex: 1;
}

.about-me-photo:hover {
    transform: scale(1.1);
}

.about-me-text {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #90db8c;
}

/* Contact Section */
.social-links {
    text-align: center;
    margin-top: 1rem;
}

.social-links a {
    color: #90db8c;
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: #54a04b;
    transform: scale(1.1);
}

/* Footer */
footer {
    color: #171e2d;
    background: #90db8c;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
